<% include partials/header.ejs %>

<h1>Haunted Places</h1>


<div class="container">
	<div class="row" style="display:flex; flex-wrap: wrap;">
		<% haunted_places.forEach(function(spot){ %>
			<div class="col-lg-4 hauntedPlaceEntry .col-md-6">
				<div class="title">
					<%= spot.name %>
				</div>
				<div class="galleryPic">
					<img src="<%= spot.image %>" alt="<%= spot.name %>">
				</div>
				<div class="description">
					<%= spot.description %>			
					<div>
						<a class="btn btn-primary" href="/haunted_places/<%= spot._id %>">More Info</a>  
					</div>
				</div>
			</div>
		<% }) %>
	</div>

	<div>
		<a class="btn btn-success" href="/haunted_places/new">Add Haunted Place</a>
	</div>
</div>


<% include partials/footer.ejs %>