<% include ../partials/header.ejs %>

<div class="container">
	<div class="row" style="display:flex; flex-wrap: wrap;">
		<% haunted_places.forEach(function(spot){ %>
			<div class=" col-lg-4 col-sm-6 hauntedPlaceEntry">
				<div class="title">
					<%= spot.name %>
				</div>
			<a href="/haunted_places/<%= spot._id %>">
				<div class="galleryPic">
					<img src="<%= spot.image %>" alt="<%= spot.name %>">
				</div>
			</a>
				<div class="description">
					<div class="descriptionText"><%= spot.description%></div>		
				</div>
			</div>
		<% }) %>
	</div>

	<div>
		<a class="btn btn-success" href="/haunted_places/new">Add Haunted Place</a>
	</div>
</div>

<!-- Truncates each descriptions to be no more than 135 characters and follows it with an ellipsis -->
<script>
    $(function(){
        $('.descriptionText').succinct({
            size: 135
        });
    });
</script>

<script src="/javascript/main.js"></script>

<% include ../partials/footer.ejs %>