<% include ../partials/header.ejs %>

<div class="container">
	<div class="row" style="display:flex; flex-wrap: wrap;">
		<% haunted_places.forEach(function(spot){ %>
			<div class=" col-lg-4 col-sm-6">
				<div class="hauntedPlaceEntry">
					<a href="/haunted_places/<%= spot._id %>">
						<div class="galleryPic">
							<img src="<%= spot.image %>" alt="<%= spot.name %>">
						</div>
					</a>

						<div class="galleryDescription">
							<div class="galleryTitle">
								<%= spot.name %>
							</div>
							<div class="galleryDescriptionText"><%= spot.description%></div>	
						</div>
				</div>
			</div>
		<% }) %>
	</div>

	<div>
		<a class="btn btn-success" href="/haunted_places/new">Add Haunted Place</a>
	</div>
</div>

<script src="/javascript/truncate.js"></script>

<% include ../partials/footer.ejs %>