<% include ../partials/header.ejs %>
<div class="container showPage">
	<h1><%= haunted_place.name %></h1>
	<img src="<%= haunted_place.image %>">
	<div id="showPageDescription">
		<%= haunted_place.description %>
	</div>
	<p><b>Submitted By: <%= haunted_place.author.username %></b></p>

	<% if (currentUser && haunted_place.author.id.equals(currentUser._id)){ %>
		
		<a class="btn btn-warning inline" href="/haunted_places/<%= haunted_place._id %>/edit">Edit</a>
		
		<form class="inlineBlock" action="/haunted_places/<%= haunted_place._id %>?_method=DELETE" method="post">
			<button class="btn btn-danger">Delete</button>
		</form>
	<% } %>

	<h3>Comments</h3>
	<% haunted_place.comments.forEach(function(comment){ %>
		<div class="comment">	
			<div>
				<%= comment.text %>
			</div>
			<% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
				<div class="commentButtons">
					<a class="btn btn-warning" href="/haunted_places/<%= haunted_place._id %>/comments/<%= comment._id %>/edit">Edit</a>
					
					<form class="inlineBlock" action="/haunted_places/<%= haunted_place._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
						<button class="btn btn-danger">Delete</button>
					</form>
			</div>
			<% } %>
			<p>
				<b>By: <%= comment.author.username %></b>
			</p>
		</div>
	<% }); %>

	<div id="showPageBottomButtons">
		<a class="btn btn-success" href="/haunted_places/<%= haunted_place._id %>/comments/new">Add New Comment</a>

		<a class="btn btn-info" href="/haunted_places">Back</a>
	</div>

</div> <!-- End of container -->

<% include ../partials/footer.ejs %>