<% include ../partials/header.ejs %>

<div class="container showPage ">

	<div>
		<h1><%= haunted_place.name %></h1>
		<img src="<%= haunted_place.image %>">
		<div id="showPageDescription">
			<%= haunted_place.description %>
			<% if (currentUser && haunted_place.author.id.equals(currentUser._id)){ %>
				<div>
					<a class="btn btn-default inline btn-margin" href="/haunted_places/<%= haunted_place._id %>/edit">Edit</a>	
					<form class="inlineBlock " action="/haunted_places/<%= haunted_place._id %>?_method=DELETE" method="post">
						<button class="btn btn-danger btn-margin">Delete</button>
					</form>
				</div>
			<% } %>
			<div id="showSubmittedBy">Submitted By: <%= haunted_place.author.username %></div>

		</div>
	</div>

	<div id="leaveCommentMessage">
		<h2>Leave a Comment</h2>
		In order to leave a comment you must be a registered user. Click <a href="/register">here to register</a> or or click <a href="/login">here to login.</a>
	</div>

	<% haunted_place.comments.forEach(function(comment){ %>
		<div class="comment">	
			<p>
				<span class="commentAuthor"><%= comment.author.username %> says:</span>
			</p>
			<div>
				<%= comment.text %>
			</div>
			<% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
				<div>
					<a class="btn btn-default btn-margin" href="/haunted_places/<%= haunted_place._id %>/comments/<%= comment._id %>/edit">Edit</a>
					<form class="inlineBlock" action="/haunted_places/<%= haunted_place._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
						<button class="btn btn-danger btn-margin">Delete</button>
					</form>
				</div>
			<% } %>
		</div> 
	<% }); %>

	<div id="showPageBottomButtons">
		<a class="btn btn-orange btn-margin" href="/haunted_places/<%= haunted_place._id %>/comments/new">Add New Comment</a>
		<a id="backTo" class="btn btn-default " href="/haunted_places">Back to Haunted Places</a>
	</div>

</div> <!-- End of container -->

<% include ../partials/footer.ejs %>