<% include ../partials/header.ejs %>

<h1>More Info on <%= haunted_place.name %></h1>

<h2>Image for this place. Spooky!</h2>
<div>
	<img src="<%= haunted_place.image %>">
</div>
<div>
	<p><%= haunted_place.description %></p>
</div>
<div>
	<a class="btn btn-warning" href="/haunted_places/<%= haunted_place._id %>/edit">Edit</a>
</div>
<h3>Comments</h3>
<% haunted_place.comments.forEach(function(comment){ %>
	<div>
		<%= comment.text %>
	</div>
	<p>
		<b>By: <%= comment.author.username %></b>
	</p>
	</br>
<% }); %>


<a class="btn btn-success" href="/haunted_places/<%= haunted_place._id %>/comments/new">Add New Comment</a>

<form action="/haunted_places/<%= haunted_place._id %>?_method=DELETE" method="post">
	<button class="btn btn-danger">Delete</button>
</form>

<a href="/haunted_places">Click here to go back to the haunted places.</a>

<% include ../partials/footer.ejs %>