<% include ../partials/header.ejs %>

<h1>More Info on <%= haunted_place.name %></h1>

<h2>Image for this place. Spooky!</h2>
<div>
	<img src="<%= haunted_place.image %>">
</div>
<div>
	<p><%= haunted_place.description %></p>
</div>
<p><b>Submitted By: <%= haunted_place.author.username %></b></p>
</br>

<% if (currentUser && haunted_place.author.id.equals(currentUser._id)){ %>
	<div>
		<a class="btn btn-warning" href="/haunted_places/<%= haunted_place._id %>/edit">Edit</a>
	</div>
	<form action="/haunted_places/<%= haunted_place._id %>?_method=DELETE" method="post">
		<button class="btn btn-danger">Delete</button>
	</form>
<% } %>

<h3>Comments</h3>
<% haunted_place.comments.forEach(function(comment){ %>
	<div>
		<%= comment.text %>
	</div>
	<p>
		<b>By: <%= comment.author.username %></b>
	</p>
	<div>
		<a class="btn btn-warning" href="/haunted_places/<%= haunted_place._id %>/comments/<%= comment._id %>/edit">Edit</a>
	</div>
	</br>
<% }); %>


<a class="btn btn-success" href="/haunted_places/<%= haunted_place._id %>/comments/new">Add New Comment</a>


<a href="/haunted_places">Click here to go back to the haunted places.</a>

<% include ../partials/footer.ejs %>